<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Vacation Point</title>
</head>
<body>
<h1>Edit Vacation Point</h1>
<form method="POST" action="/admin_panel/edit_location" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" name="id" th:value="${id}">
    <input type="text" name="city" placeholder="City" th:value="${city}" required>
    <input type="text" name="country" placeholder="Country" th:value="${country}" required>
    <textarea name="description" placeholder="Description" th:text="${description}" required></textarea>
    <label for="startDate">Start Date and Time:</label>
    <input type="date" name="startDate" th:value="${startDate}" required>
    <label for="endDate">End Date and Time:</label>
    <input type="date" name="endDate" th:value="${endDate}" required>
    <input type="file" name="photos" multiple>
    <button type="submit">Submit</button>
</form>
</body>
</html>
