<header th:fragment="header" class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="images/pngwing.com.png" alt="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/docs">
                    Documentation
                </a>

                <a class="navbar-item" href="/docs2">
                    Documentation 2
                </a>

                <a class="navbar-item" href="/suggest-location">
                    Suggest a New Location
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="/logout" method="post" id="logout_form" th:if="${loggedIn}">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <button class="button is-success" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>