<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Travel Blog</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>


<section class="hero is-medium is-link">
    <div class="hero-body">
        <p class="title">Medium hero</p>
        <p class="subtitle">Medium subtitle</p>
    </div>
</section>

<div class="container">
    <div class="block"></div>
    <h2 class="title is-2">Latest</h2>
    <div class="columns">
        <div class="column" th:each="point : ${vacationPoints}">
            <div class="card">

                        <div class="card-image" th:each="point : ${point.photos}">

                            <figure class="image is-4by3">

                                <div class="slideshow-container">
                                    <div class="mySlides fade">
                                <img
                                        th:src="@{'/photos/'+${point}}"
                                        alt="Placeholder image"
                                />

                                    </div>
                                </div>
                            </figure>

                        </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4" th:text="${point.city}"></p>
                            <p class="subtitle is-6" th:text="${point.country}"></p>
                        </div>
                    </div>

                    <div class="content">
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div id="map" style="width: 100%; height: 500px;"></div>


<footer th:insert="~{fragments/footer.html :: footer}"></footer>


<script th:inline="javascript">
    // Map init
    const map = L.map('map').setView([0, 0], 2); // Center and Zoom
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const vacationPoints = /*[[${vacationPoints}]]*/ [];


    vacationPoints.forEach(point => {
        const marker = L.marker([point.latitude, point.longitude]).addTo(map);
        marker.bindPopup(`
            <h3>${point.city}</h3>
            <p>${point.description}</p>
            <p><strong>Start:</strong> ${point.startDate}</p>
            <p><strong>End:</strong> ${point.endDate}</p>
               <div class="photos">
                      ${point.photos.map(photo => `<img src="/photos/${photo}" style="width:100px;height:auto;">`).join('')}
                    </div>
        `);
    });


    if (vacationPoints.length > 0) {
        const bounds = L.latLngBounds(vacationPoints.map(p => [p.latitude, p.longitude]));
        map.fitBounds(bounds);
    }
</script>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
</body>
</html>