<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Travel Blog</title>

</head>
<body>
    <header th:insert="~{fragments/header.html :: header}"> </header>

    <section class="hero is-medium is-link">
        <div class="hero-body">
            <p class="title">Medium hero</p>
            <p class="subtitle">Medium subtitle</p>
        </div>
    </section>

    <div class="container">
        <div class="block"></div>
        <h2 class="title is-2">Latest</h2>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img
                                    src="/images/hamburg.jpg"
                                    alt="Placeholder image"
                            />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Hamburg</p>
                                <p class="subtitle is-6">Germany</p>
                            </div>
                        </div>

                        <div class="content">
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img
                                    src="/images/hamburg.jpg"
                                    alt="Placeholder image"
                            />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Hamburg</p>
                                <p class="subtitle is-6">Germany</p>
                            </div>
                        </div>

                        <div class="content">
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img
                                    src="/images/hamburg.jpg"
                                    alt="Placeholder image"
                            />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Hamburg</p>
                                <p class="subtitle is-6">Germany</p>
                            </div>
                        </div>

                        <div class="content">
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img
                                    src="/images/hamburg.jpg"
                                    alt="Placeholder image"
                            />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Hamburg</p>
                                <p class="subtitle is-6">Germany</p>
                            </div>
                        </div>

                        <div class="content">
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img
                                    src="/images/hamburg.jpg"
                                    alt="Placeholder image"
                            />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Hamburg</p>
                                <p class="subtitle is-6">Germany</p>
                            </div>
                        </div>

                        <div class="content">
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>