<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggest New Location</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>

<section class="section">
    <div class="container">
        <h1 class="title">Suggest a New Location</h1>

<!--        To check if it was successful or not:-->
        <div class="notification is-success" th:if="${param.success}">
            Location has been submitted successfully!
        </div>
        <div class="notification is-danger" th:if="${param.error}">
            There was an error. Try again or contact the administrator.
        </div>

        <form method="POST" th:action="@{/suggest-location}" th:object="${location}">

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">City</label>
                        <div class="control has-icons-left">
                            <input class="input is-medium" type="text" th:field="*{city}" placeholder="Enter city name" required>
                            <span class="icon is-small is-left">
                        <i class="fas fa-city"></i>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Country</label>
                        <div class="control has-icons-left">
                            <input class="input is-medium" type="text" th:field="*{country}" placeholder="Enter country name" required>
                            <span class="icon is-small is-left">
                        <i class="fas fa-flag"></i>
                    </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea is-medium" th:field="*{description}" placeholder="Enter a description" required></textarea>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <button class="button is-primary is-fullwidth is-medium" type="submit">Save</button>
                </div>
            </div>
        </form>

    </div>
</section>

<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>